@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border py-2 px-3 rounded-full;
  }
}

@keyframes slide {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-100%); }
  50%, 70% { transform: translateX(-200%); }
  75%, 95% { transform: translateX(-300%); }
  100% { transform: translateX(-400%); }
}






